<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" ng-model="searchTerm">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="explorePlaces(searchTerm)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
             </span>
            </div>
        </div>
    </div>
    <hr>
    <div id="map" class="custom-map">
        <!--<iframe width="100%" height="280" frameborder="0" scrolling="no"-->
        <!--src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Boston&amp;gl=us&amp;ie=UTF8&amp;output=embed&amp;iwloc=near">-->
        <!--</iframe>-->
    </div>
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="item in results track by item.venue.id">
            <div class="thumbnail">
                <img ng-src="{{item.venue.featuredPhotos.items[0].prefix}}800x500{{item.venue.featuredPhotos.items[0].suffix}}"
                     alt="">
                <div class="caption">
                    <h3>{{item.venue.name.substring(0, 19)}}</h3>
                    <p>{{item.venue.categories[0].name}}</p>
                    <p>
                        <a href="#/details/{{item.venue.id}}" class="btn btn-primary btn-block">Get details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>