<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 main" ng-controller="LoginController">
    <h1>Register</h1>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username3" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="username3" placeholder="Username" ng-model="user.username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password"
                       ng-model="user.password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword4" class="col-sm-3 control-label">Verify Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword4" placeholder="Verify Password"
                       ng-model="user.verifyPassword">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                       ng-model="user.firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="user.lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="user.emails">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default btn-block" ng-click="model.register(user)">Register
                </button>
            </div>
        </div>
    </form>
</div>
