<div class="container-fluid">
    <div id="wrapper">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-1">
                <div ng-include="'client/views/users/profile/sidebar.profile.view.html'"></div>
            </div>
            <div class="page-content-wrapper">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <h3 class="page-header">Following</h3>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb"
                         ng-repeat="following in model.following track by following._id">
                        <a class="thumbnail btn" href="#/profile/{{following._id}}">
                            <img class="img-responsive" ng-src="{{following.imgUrl}}" alt="">
                            {{following.firstName}} {{following.lastName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
