<div class="container-fluid">
    <div id="wrapper">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-1">
                <div ng-include="'client/views/users/profile/sidebar.profile.view.html'"></div>
            </div>
            <div class="page-content-wrapper">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <h1 class="page-header">Followers</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb"
                         ng-repeat="follower in model.followers track by follower._id">
                        <a class="thumbnail btn" href="#/profile/{{follower._id}}">
                            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                            {{follower.firstName}} {{follower.lastName}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
