<div class="container-fluid">
    <div id="wrapper">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-1">
                <div ng-include="'client/views/users/profile/sidebar.profile.view.html'"></div>
            </div>
            <div id="page-content-wrapper">
                <div class="col-xs-12">
                    <h3 class="page-header">
                        Profile
                    </h3>
                </div>
                <div class="col-xs-offset-3 col-xs-9">
                    <img ng-src="{{model.userprofile.imgUrl}}" class="profile-img" height="100px">
                </div>
                <div class="col-xs-12">
                    <form class="form-horizontal" action="{{model.updateProfileAPI}}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group" ng-if="model.previlege">
                            <label class="col-sm-3 control-label">Profile Picture</label>
                            <div class="col-sm-9">
                                <input type="file" class="form-control"
                                       name="profilePic">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username3" class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username3" placeholder="Username"
                                       name="username" value="{{model.userprofile.username}}">
                            </div>
                        </div>
                        <div class="form-group" ng-if="model.previlege">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="inputPassword3"
                                       placeholder="Password" name="password"
                                       value="{{model.userprofile.password}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-3 control-label">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstname" placeholder="First Name"
                                       name="firstName" value="{{model.userprofile.firstName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-3 control-label">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name"
                                       name="lastName" value="{{model.userprofile.lastName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" placeholder="Email"
                                       name="emails" value="{{model.userprofile.emails.join(',')}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-warning btn-block"
                                        ng-if="model.previlege">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>