<div class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active': $location.url() == '/likes'}"><a href="#/likes">Likes</a></li>
        <li ng-class="{'active': $location.url() == '/followers'}"><a href="#/followers">Followers</a></li>
        <li ng-class="{'active': $location.url() == '/following'}"><a
                href="#/following">Following</a></li>
        <li ng-class="{'active': $location.url() == '/profile'}"><a href="#/profile">Update Profile</a></li>
        <hr>
        <li><a href="#/forms">Sign Out</a></li>
    </ul>
</div>