body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.custom-map {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
}

footer {
    margin: 50px 0;
}

.details-row {
    margin-left: 0px;
    margin-right: 0px;
}

.details-col {
    padding-left: 0px;
    padding-right: 0px;
}

.details-height {
    height: 300px;
}

@media (max-width: 767px) {
    .review-button {
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .d-maps {
        padding-left: 0px;
    }

    .details-image {
        padding-right: 0px;
    }

    .height-media {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .d-maps {
        padding-left: 0px;
    }

    .details-image {
        padding-right: 0px;
    }

}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.top-pad {
    padding-top: 50px
}

.myicon-orange {
    color: #ff8d04
}

.myicon-green {
    color: #30d030;
}

.myicon-yellow {
    color: #f4de1a;
}

.myicon-blue {
    color: #1197ff;
}

.myicon-red {
    color: #e50000;
}

.mynavcolor > li > a {
    color: #eeeeee !important;
}

.mynavbar-brand-color {
    color: white !important;
}

.logo-home {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.review-style {
    font-family: "Georgia", Times, serif;
}

.login-fields {
    padding-right: 15px;
    padding-left: 15px;
}

.mysidebar-indent > li {
    text-indent: 10px;
}

.mysidebar-indent > li > a > span {
    text-indent: 0px;
}

.mylogo-a {
    padding: 0px 0px;
}

.mylogo-a > img {
    height: 100%;
    margin-left: 10px
}

.sidebar-profile-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.profile-img {
    margin-bottom: 15px
}

.voyager-index {
    padding-top: 50px;
}