body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.custom-map {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    margin: 50px 0;
}

.details-row {
    margin-left: 0px;
    margin-right: 0px;
}

.details-col {
    padding-left: 0px;
    padding-right: 0px;
}

.details-height {
    height: 300px;
}

@media (max-width: 767px) {
    .review-button {
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .d-maps {
        padding-left: 0px;
    }

    .details-image {
        padding-right: 0px;
    }

    .height-media {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .d-maps {
        padding-left: 0px;
    }

    .details-image {
        padding-right: 0px;
    }

}
