<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Admin</h1>
    <h3>Users</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped my-table">
            <thead>
            <tr class="thead-row">
                <th ng-click="model.order('username')">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                          ng-show="(model.predicate == 'username') && (model.reverse == true)"></span>
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                          ng-show="(model.predicate == 'username') && (model.reverse == false)"></span>
                    Username
                </th>
                <th>Password</th>
                <th ng-click="model.order('firstName')">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                          ng-show="(model.predicate == 'firstName') && (model.reverse == true)"></span>
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                          ng-show="(model.predicate == 'firstName') && (model.reverse == false)"></span>
                    First Name
                </th>
                <th ng-click="model.order('lastName')">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                          ng-show="(model.predicate == 'lastName') && (model.reverse == true)"></span>
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"
                          ng-show="(model.predicate == 'lastName') && (model.reverse == false)"></span>
                    Last Name
                </th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tr class="forms-input-row">
                <td>
                    <input type="text" class="form-control" id="username3" placeholder="username"
                           ng-model="model.inputUser.username">
                </td>
                <td>
                    <input type="password" class="form-control" id="password" placeholder="password"
                           ng-model="model.inputUser.password">
                </td>
                <td>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                           ng-model="model.inputUser.firstName">
                </td>
                <td>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                           ng-model="model.inputUser.lastName">
                </td>
                <td>
                    <input type="text" class="form-control" id="role" placeholder="role1, role2"
                           ng-model="model.inputUser.roles">
                </td>
                <td>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"
                          ng-click="model.add(model.inputUser)"></span>
                    <span class="glyphicon glyphicon-ok" ng-click="model.update(model.inputUser)"
                          aria-hidden="true"></span>
                </td>
            </tr>
            <tbody>
            <tr ng-repeat="u in model.users | orderBy:model.predicate:model.reverse">
                <td>{{u.username}}</td>
                <td></td>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
                <td>{{u.roles}}</td>
                <td>
                    <span class="glyphicon glyphicon-remove" ng-click="model.remove(u)" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-pencil" ng-click="model.select(u)" aria-hidden="true"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>