<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-6 details-image">
                        <!--<img class="img-responsive" src="http://placehold.it/800x300" height="285" alt="">-->
                        <img ng-src="{{item.venue.featuredPhotos.items[0].prefix}}800x500{{item.venue.featuredPhotos.items[0].suffix}}"
                             alt="" height="300px">
                    </div>
                    <div class="col-md-6 " style="height: 300px;" id="details-map">
                        <!--<iframe width="100%" height="300" frameborder="0" scrolling="no"-->
                        <!--src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Boston&amp;gl=us&amp;ie=UTF8&amp;output=embed&amp;iwloc=near">-->
                        <!--</iframe>-->
                    </div>
                </div>
                <div class="caption-full">
                    <h4 class="pull-right">{{item.venue.categories[0].name}}</h4>
                    <h4><a href="#">{{item.venue.name}}</a>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </button>
                    </h4>

                    <p>{{item.tips[0].text}}</p>
                    <p>{{item.venue.location.formattedAddress[0]}}
                        <br>{{item.venue.location.formattedAddress[1]}}
                        <br>{{item.venue.location.formattedAddress[2]}}
                        <br>{{item.venue.location.formattedAddress[3]}}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>

                </div>
            </div>

            <div class="well">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <input type="text" class="form-control" placeholder="Leave a review"
                               ng-model="review.description">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 review-button">
                        <a class="btn btn-success btn-block" ng-click="addReview(review)">Leave Review</a>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 review-button" ng-click="updateReview(review)">
                        <a class="btn btn-warning btn-block">Update</a>
                    </div>
                </div>

                <hr>

                <div class="row" ng-repeat="review in reviews track by review._id">
                    <div class="col-xs-12 col-sm-8">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {{findFullUserNamebyUserId(review.userId)}}
                        <span class="pull-right">{{review.timestamp.toDateString()}}</span>
                        <p>{{review.description}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <a class="btn btn-primary btn-block review-button" ng-click="selectReview($index)">Edit</a>
                    </div>
                    <div class="col-xs-6 col-sm-2">
                        <a class="btn btn-danger btn-block review-button" ng-click="deleteReview($index)">Delete</a>
                    </div>

                    <hr width="100%">

                </div>

            </div>

        </div>

    </div>
</div>
<!-- /.container -->

<div class="container">
    <hr>
</div>
