<div class="container" ng-controller="DetailsController">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-6 details-image">
                        <!--<img class="img-responsive" src="http://placehold.it/800x300" height="285" alt="">-->
                        <img ng-src="{{item.venue.featuredPhotos.items[0].prefix}}800x500{{item.venue.featuredPhotos.items[0].suffix}}"
                             alt="" height="300px">
                    </div>
                    <div class="col-md-6 google-maps">
                        <iframe width="100%" height="300" frameborder="0" scrolling="no"
                                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Boston&amp;gl=us&amp;ie=UTF8&amp;output=embed&amp;iwloc=near">
                        </iframe>
                    </div>
                </div>
                <div class="caption-full">
                    <h4 class="pull-right">{{item.venue.categories[0].name}}</h4>
                    <h4><a href="#">{{item.venue.name}}</a>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </button>
                    </h4>

                    <p>{{item.tips[0].text}}</p>
                    <p>{{item.venue.location.formattedAddress[0]}}
                        <br>{{item.venue.location.formattedAddress[1]}}
                        <br>{{item.venue.location.formattedAddress[2]}}
                        <br>{{item.venue.location.formattedAddress[3]}}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>

                </div>
            </div>

            <div class="well">

                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-md-10">
                        <input type="text" class="form-control" placeholder="Leave a review">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 review-button">
                        <a class="btn btn-success btn-block">Leave a Review</a>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">10 days ago</span>
                        <p>This product was great in terms of quality. I would definitely buy another!</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">12 days ago</span>
                        <p>I've alredy ordered another one!</p>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        Anonymous
                        <span class="pull-right">15 days ago</span>
                        <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- /.container -->

<div class="container">
    <hr>
</div>
