<div class="block" ng-controller="HeaderController as model">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"
                   ng-if="isProfilePage"
                   ng-click="model.toggleMenu()"
                   ng-show="isToggleMenuVisible">
                    <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                </a>
                <a class="navbar-brand mylogo-a" href="#/home">
                    <img src="client/img/voyager.png">
                </a>
                <!--<a class="navbar-brand mynavbar-brand-color" href="#/home">Voyager</a>-->
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="mynavcolor nav navbar-nav navbar-right">
                    <li ng-class="{'active':$location.url() == '/login'}">
                        <a ng-show="!user"
                           href="#/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
                    </li>
                    <li ng-class="{'active':$location.url() == '/register'}">
                        <a ng-show="!user"
                           href="#/register"><i class="fa fa-plus" aria-hidden="true"></i> Sign Up</a>
                    </li>
                    <li>
                        <a ng-show="(user.roles.indexOf('admin') > -1)"
                           ng-class="{'active':$location.url() == '/admin'}" href="#/admin">Admin</a>
                    </li>
                    <li class="dropdown" ng-show="user">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{user.firstName + " " + user.lastName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/likes/{{model.user._id}}"><i class="fa fa-thumbs-up myicon-blue"
                                                                        aria-hidden="true"></i>
                                Likes</a></li>
                            <li><a href="#/followers/{{model.user._id}}"><i class="fa fa-users myicon-green"
                                                                            aria-hidden="true"></i>
                                Followers</a></li>
                            <li><a href="#/following/{{model.user._id}}"><i class="fa fa-users myicon-yellow"
                                                                            aria-hidden="true"></i>
                                Following</a></li>
                            <li><a href="#/profile/{{model.user._id}}"><i class="glyphicon glyphicon-user myicon-orange"
                                                                          aria-hidden="true"></i> Update Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a ng-show="user" ng-click="model.logOut()" href="#">
                                    <i class="fa fa-sign-out myicon-red" aria-hidden="true"></i>
                                    Sign Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>